@mixin col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

@mixin col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

@mixin col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

@mixin col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

@mixin col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

@mixin col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

@mixin col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

@mixin col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

@mixin col-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

@mixin thumb-img-rectangle {
    width: 207px;
    height: 271px;
    overflow: hidden;
}

@mixin thumb-img-circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
}

%box-center {
    margin: 0 auto;
}

%border-row {
    border-right: 1px solid #e1e1e1;
}

#wp__content {
    margin-top: 150px;
    margin-bottom: 100px;
    transition: all .5s;
    &.active {
        margin-top: 187px;
        transition: all .5s;
    }
}

#wp__content .grid__full-width {
    width: 1280px;
    margin: 0 auto;
    &.active {
        margin-top: 187px;
        transition: all .5s;
    }
}

.section--reviews-product {
    margin-bottom: 100px;
    .grid__item {
        @include col-12();
    }

    .common--reviews-container {
        .common-reviews__tab-item_title {
            h4 {
                padding: 20px 0;

                font: {
                    family: "Montserrat-Black";
                    size: 1.4rem;
                }
            }
        }

        .common-reviews__tab-item_content {
            .customer__reviews {
                .common__reviews-averate {
                    background-color: #f5f5f5;
                    padding: 20px;
                    margin-bottom: 20px;

                    .common-review__avarate-item {
                        @include col-6();

                        .title {
                            color: #444;
                            margin-bottom: 15px;

                            font: {
                                size: .9rem;
                            }
                        }

                        .common__rate {
                            ul.common__rate-star {
                                .common__rate-item {
                                    color: #ffc016;
                                    margin-right: 3px;

                                    font: {
                                        size: 1.6rem;
                                    }
                                }
                            }

                            .product-intro__head-vote-point {
                                color: #ffc016;
                                margin-left: 5px;

                                font: {
                                    family: "Montserrat-Bold";
                                    weight: bold;
                                    size: 1.2rem;
                                }
                            }
                        }

                        .reviews__wp {
                            width: 55%;
                            color: var(--black-color);

                            font: {
                                size: .8rem;
                            }

                            .fit__item {
                                padding: 5px 0;
                            }

                            .fit__name {
                                display: block;
                                width: 10%;
                            }

                            .common__reviews-progress {
                                width: 70%;
                                height: 7px;
                                background-color: #d2d2d2;
                                border-radius: 5px;
                                position: relative;
                                overflow: hidden;

                                .progress__bar {
                                    position: absolute;
                                    height: 100%;
                                    background-color: var(--black-color);
                                }
                            }

                            .fit__ratio {
                                display: block;
                                width: 10%;
                            }
                        }
                    }
                }

                .common__reviews-select {
                    border-bottom: 1px solid #e1e1e1;

                    .common__reviews-select-tab {
                        @include col-3();

                        .tab__item {
                            padding: 20px 0;
                            color: #656565;
                            position: relative;
                            cursor: pointer;

                            font: {
                                family: "Montserrat-Bold";
                                weight: bold;
                                size: .85rem;
                            }

                            &.active {
                                color: #353535;
                                transition: all .5s;

                                &::after {
                                    content: "";
                                    height: 1.5px;
                                    width: 100%;
                                    position: absolute;
                                    background-color: var(--black-color);
                                    bottom: 0;
                                    left: 0;
                                    transition: all .5s;
                                }
                            }
                        }
                    }

                    .common__reviews-select-filter {
                        @include col-6();

                        .common-reviews__select-item {
                            display: flex;
                            align-items: center;
                            margin-right: 25px;
                            cursor: pointer;
                            padding: 12px 0;

                            .title {
                                color: var(--black-color);
                                margin-right: 10px;

                                font : {
                                    size: .9rem;
                                }
                            }

                            &:hover .common-reviews__select-box-list {
                                display: block !important;
                            }

                            .common-reviews__select-box {
                                .common-reviews__select-box-input {
                                    width: 95px;
                                    border: 1px solid #e1e1e1e1;
                                    text-align: center;
                                    padding: 5px 0;

                                    span.text {
                                        color: #4e4e4e;

                                        font: {
                                            family: "Montserrat-Bold";
                                            weight: bold;
                                            size: .8rem;
                                        }
                                    }
                                }

                                .common-reviews__select-box-list {
                                    display: none;
                                    width: 150px;
                                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
                                    padding: 5px 0;
                                    background-color: var(--white-color);
                                    right: 0;
                                    top: 50px;
                                    z-index: 1;

                                    span {
                                        display: block;
                                        padding: 8px 15px;

                                        font: {
                                            size: .8rem;
                                        }

                                        &:hover {
                                            background-color: #e1e1e1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .common__reviews-list {
                    padding: 30px 0;
                    .expose__common-reviews__list-item {
                        padding: 30px 0;
                        border-bottom: 1px dashed #e1e1e1;
                        .common-reviews__wp-item {
                            .common-reviews__list-item {
                                &.item-left {
                                    @include col-2();
                                    .nike__name {
                                        .name__reviewer {
                                            margin-bottom: 10px;

                                            font: {
                                                weight: bold;
                                                size: .7rem;
                                            }
                                        }
                                    }

                                    .info__body {
                                        span {
                                            &[name] {
                                                color: #696969;
                                                margin-right: 5px;

                                                font: {
                                                    weight: bold;
                                                }
                                            }

                                            &[intro] {
                                                color: #a09d9d;
                                            }

                                            font: {
                                                size: .65rem;
                                            }
                                        }
                                    }
                                }

                                &.item-mid {
                                    @include col-7();
                                    .common-reviews__list-item {
                                        &#{-infoText} {
                                            flex: 0 0 50%;
                                            max-width: 50%;
                                            .rate__star {
                                                margin-bottom: 5px;
                                                .common__rate-item {
                                                    color: #ffc016;
                                                    margin-right: 2px;
                                                    font: {
                                                        size: 1.2rem;
                                                    }
                                                }
                                            }
                                            .rate__desc {
                                                color: var(--black-color);
                                                font: {
                                                    size: .9rem;
                                                }
                                            }
                                        }
                                        &#{-infoImages} {
                                            flex: 0 0 50%;
                                            max-width: 50%;
                                            .image__item {
                                                margin: 0 2px;
                                                .thumb-img {
                                                    display: block;
                                                    width: 100px;
                                                    height: 130px;
                                                    overflow: hidden;
                                                }
                                            }
                                        }
                                    }
                                }

                                &.item-right {
                                    .common__reviews {
                                        &#{-like} {
                                            .num-like {
                                                color: var(--black-color);
                                                font: {
                                                    size: .8rem;
                                                }
                                            }
                                            .icon-like {
                                                font: {
                                                    size: 1.4rem;
                                                }
                                            }
                                        }
                                        &#{-date} {
                                            span {
                                                color: #a0a0a0;
                                                font: {
                                                    size: .8rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.section--relative-product {
    .grid__item {
        @include col-12();
    }
    .list__relative-products {
        .wp__rlt--title {
            margin-bottom: 20px;
            h3.title {
                font: {
                    family: "Montserrat-bold";
                    size: 1.6rem;
                }
            }
        }
        .wp__rlt--content {
            .wp-rlt__recomment-item {
                flex: 0 0 20%;
                max-width: 20%;
                padding: 5px;
                margin-bottom: 20px;
            }
            .rlt__recomment-info {
                padding: 10px 0;
                letter-spacing: .7px;
                font: {
                    weight: bold;
                }
            }
        }
        .rlt__see-more a {
            color: var(--white-color);
            background-color: #333;
            padding: 10px 25px;
        }
    }
}