#header .config__top-banner .grid__row {
  margin: 0 auto;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-6 .grid__item.item-2, #header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-9 .grid__item.item-2, #header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-10 .grid__item.item-2, #header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-11 .grid__item.item-2, #header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .grid__item.item-1 {
  border-right: 1px solid #e1e1e1;
}

.mark-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1000000;
  background: radial-gradient(#f1f1f1, #444);
  opacity: 1;
  transition: all .75s;
  -webkit-animation: show_mark_loading 3s forwards;
  -o-animation: show_mark_loading 3s forwards;
  animation: show_mark_loading 3s forwards;
}

@-webkit-keyframes show_mark_loading {
  0% {
    opacity: 1;
  }
  90% {
    opacity: .6;
  }
  100% {
    opacity: 0;
  }
}

.loading {
  position: fixed;
  top: 30%;
  left: 48%;
  z-index: 10000000;
  display: none;
}

.loading.action {
  display: block;
}

.loading .loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.section--detail-product {
  margin-bottom: 100px;
}

.section--detail-product .grid__item.bread--crumb-inner {
  padding: 16px 0;
  flex: 0 0 100%;
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.section--detail-product .grid__item.bread--crumb-inner a.bread__crumb-item {
  color: #999;
  padding: 0 5px;
  font-size: .7rem;
}

.section--detail-product .grid__item.bread--crumb-inner a.bread__crumb-item::after {
  content: "/";
  margin-left: 10px;
}

.section--detail-product .grid__item.bread--crumb-inner li:last-child > a::after {
  content: "";
}

.section--detail-product .product__info {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.section--detail-product .product__info .info__item.images--info-pd {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.section--detail-product .product__info .info__item.intro__info-pd {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.section--detail-product .product__info .images--info-pd .img__relative {
  flex: 0 0 9%;
  max-width: 9%;
  margin-right: 3px;
}

.section--detail-product .product__info .images--info-pd .img__relative ul.list__img-relative .relative--item {
  margin: 7px 0;
}

.section--detail-product .product__info .images--info-pd .img__relative ul.list__img-relative .relative--item .thumb-img {
  display: inline-block;
  width: 55px;
  height: 65px;
  overflow: hidden;
}

.section--detail-product .product__info .images--info-pd .img__relative ul.list__img-relative .relative--item .thumb-img img.img__respon {
  width: 100%;
  height: 100%;
}

.section--detail-product .product__info .images--info-pd .img__relative ul.list__img-relative .relative--item.active .thumb-img {
  border: 1px solid var(--black-color);
  padding: 2px;
}

.section--detail-product .product__info .images--info-pd .img__relative ul.list__img-relative li:first-child .relative--item {
  margin-top: 0;
}

.section--detail-product .product__info .images--info-pd .img__avatar {
  flex: 0 0 90%;
  max-width: 90%;
  margin-left: 3px;
}

.section--detail-product .product__info .images--info-pd .img__avatar .main__avt .thumb-img {
  display: block;
  height: 100%;
  width: 100%;
}

.section--detail-product .product__info .images--info-pd .img__avatar .main__avt .thumb-img img.img__respon {
  height: 100%;
  width: 100%;
}

.section--detail-product .product__info .images--info-pd .img__avatar .control__avt {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.section--detail-product .product__info .images--info-pd .img__avatar .control__avt .control__item {
  top: 45%;
  font-size: 1.3rem;
  background-color: var(--white-color);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all .5s;
}

.section--detail-product .product__info .images--info-pd .img__avatar .control__avt .control__item.control--next {
  right: 10%;
  padding-left: 2px;
}

.section--detail-product .product__info .images--info-pd .img__avatar .control__avt .control__item.control--prev {
  left: 10%;
  padding-right: 2px;
}

.section--detail-product .product__info .images--info-pd .img__avatar:hover .control__item {
  opacity: 1;
}

.section--detail-product .product__info .images--info-pd .img__avatar:hover .control__item.control--next {
  right: 7%;
}

.section--detail-product .product__info .images--info-pd .img__avatar:hover .control__item.control--prev {
  left: 7%;
}

.section--detail-product .product__info .intro__info-pd {
  padding-left: 50px;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head {
  padding-bottom: 20px;
  border-bottom: 1px dashed #e1e1e1;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-name .name__product {
  letter-spacing: .6px;
  font-size: .9rem;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-name .share__product {
  height: 45px;
  width: 20%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-3px);
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-name .share__product:hover > .common__hovertips {
  display: block;
  cursor: pointer;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-name .share__product .icon__share {
  width: 30px;
  height: 30px;
  background-color: white;
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-name .share__product .common__hovertips {
  padding: 8px 15px;
  background-color: var(--white-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  left: -31px;
  top: 38px;
  display: none;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-name .share__product .common__hovertips::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  z-index: -1;
  background-color: #fff;
  top: -4px;
  left: 44%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-name .share__product .common__hovertips .icon__element {
  color: var(--white-color);
  background-color: var(--black-color);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: .8rem;
  text-align: center;
  line-height: 20px;
  margin: 0 3px;
  transform: translateY(0px);
  transition: all .5s;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-name .share__product .common__hovertips .icon__element:hover {
  transform: translateY(-4px);
  transition: all .5s;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-code {
  margin-bottom: 8px;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-code .code__discount {
  color: #a2a2a2;
  font-weight: 300;
  font-size: .7rem;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-vote {
  margin-bottom: 10px;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-vote ul.common__rate-star {
  margin-right: 8px;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-vote ul.common__rate-star span.common__rate-item {
  color: #ffc016;
  margin-right: 3px;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-vote .product-intro__head-vote-text {
  color: #333;
  margin-bottom: 2px;
  font-size: .7rem;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--head .product-intro__head-price .price__current {
  color: var(--black-color);
  font-family: "Montserrat-Bold";
  font-weight: bold;
  font-size: 1.5rem;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size {
  padding-top: 20px;
  margin-bottom: 35px;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: .95rem;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-choose .intro__size-item {
  position: relative;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-choose .intro__size-item span[size_title] {
  display: block;
  color: var(--black-color);
  border: 1px solid #ccc;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  font-size: .9rem;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-choose .intro__size-item span[size_title]:hover {
  border-color: var(--black-color);
  cursor: pointer;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-choose .intro__size-item:hover [size_info] {
  display: block;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-choose .intro__size-item [size_info] {
  position: absolute;
  background-color: var(--white-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 295px;
  left: 0;
  bottom: 130%;
  padding: 10px;
  line-height: 1;
  display: none;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-choose .intro__size-item [size_info] > span {
  color: var(--black-color);
  display: block;
  margin-bottom: 3px;
  font-size: .7rem;
  font-weight: bold;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-choose .intro__size-item [size_info] > span::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 74px;
  left: 23px;
  transform: rotate(45deg);
  background-color: var(--white-color);
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-choose .intro__size-item [size_info] ul li span {
  font-size: .65rem;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-choose .intro__size-item [size_info] ul li span[first] {
  color: var(--black-color);
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-choose .intro__size-item [size_info] ul li span[second] {
  color: #5e5b5b;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-choose .intro__size-item [size_info] ul li:nth-child(2n-1) {
  margin-right: 5px;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--select-size .product-intro__size-choose .intro__size-item [size_info]::after {
  content: "";
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--add {
  width: 87%;
  margin-bottom: 30px;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--add .product-intro__add-btn {
  flex: 0 0 86%;
  width: 86%;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--add .product-intro__add-btn button[name='btn_add-car'].btn__add--cart {
  background-color: #313030;
  color: var(--white-color);
  border: none;
  padding: 15px 0;
  width: 95%;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--add .product-intro__add-btn button[name='btn_add-car'].btn__add--cart:hover {
  opacity: .9;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--add .product-intro__add-like .wp__like {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #d0d0d0;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 100%;
  transition: all .5s;
  color: var(--black-color);
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--add .product-intro__add-like .wp__like:hover span.icon__like {
  transform: scale(1.1, 1.1);
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--freeshipping {
  margin-bottom: 25px;
  background-color: #f7f6f7;
  width: 87%;
  padding: 20px 20px 0 20px;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--freeshipping .product-intro__freeshipping-item .product-intro__freeshipping-icon {
  margin-right: 10px;
  font-size: 1.4rem;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--freeshipping .product-intro__freeshipping-item .product-intro__freeshipping-info {
  margin-bottom: 10px;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--freeshipping .product-intro__freeshipping-item .product-intro__freeshipping-info .product-intro__freeshipping-title {
  color: var(--black-color);
  margin-bottom: 3px;
  font-size: .7rem;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--freeshipping .product-intro__freeshipping-item .product-intro__freeshipping-info .product-intro__freeshipping-title .icon {
  font-size: 1rem;
  color: #a6a6a6;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--freeshipping .product-intro__freeshipping-item .product-intro__freeshipping-info .product-intro__freeshipping-desc {
  color: #858585;
  line-height: 1.3;
  font-size: .65rem;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--freeshipping .product-intro__freeshipping-item .product-intro__freeshipping-info .product-intro__freeshipping-desc p {
  margin-bottom: 3px;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--accordion {
  width: 87%;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--accordion .text {
  font-size: .9rem;
  font-weight: bold;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--accordion .icon {
  cursor: pointer;
  font-size: .7rem;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--accordion .product__intro-sizeguide {
  padding: 15px 0;
}

.section--detail-product .product__info .intro__info-pd .product__intro-item.info--accordion .product__intro-description {
  padding: 15px 0;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1;
}

#header .config__top-banner {
  display: none;
  background-color: #accfda;
  height: 50px;
  overflow: hidden;
}

#header .config__top-banner.open {
  display: block;
}

#header .config__top-banner .grid__row {
  width: 75%;
}

#header .config__top-banner .grid__row .grid__item.banner--left {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

#header .config__top-banner .grid__row .grid__item.banner--right {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

#header .config__top-banner .banner--left ul.list__notification-banner li {
  display: none;
}

#header .config__top-banner .banner--left ul.list__notification-banner li.active {
  display: block;
}

#header .config__top-banner .banner--left ul.list__notification-banner li a {
  color: var(--black-color);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .config__top-banner .banner--left ul.list__notification-banner li a span.notifi__text {
  padding-right: 5px;
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}

#header .config__top-banner .banner--left ul.list__notification-banner li a span.notifi__condition {
  padding-left: 5px;
  font-weight: bold;
  font-size: .9rem;
}

#header .config__top-banner .banner--right .count__time span {
  padding: 10px 10px;
  letter-spacing: 3px;
  font-family: "Montserrat-Regular";
  font-weight: bold;
  font-size: 1.5rem;
}

#header .config__top-banner .banner--right .count__time span.number {
  color: #313030;
  display: block;
  width: 100px;
  text-align: center;
}

#header .config__top-banner .banner--right .count__time span.text {
  color: var(--white-color);
}

#header .config__top-banner .icon__close-banner {
  top: 31%;
  right: 22px;
  color: rgba(228, 74, 74, 0.741176);
  font-weight: 300;
  cursor: pointer;
  display: none !important;
}

#header .config__top-banner:hover > .icon__close-banner {
  display: block !important;
}

#header .top__header {
  background-color: #f7f8fa;
}

#header .top__header .grid__item.header__left {
  flex: 0 0 41.66667%;
  width: 41.66667%;
}

#header .top__header .header__left .option__category-item {
  color: #a4b0be;
  padding: 28.5px 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Montserrat-Regular;
  font-size: 0.9rem;
}

#header .top__header .header__left .option__category-item.active {
  background-color: #fff;
  color: #000;
  font-weight: 700;
}

#header .top__header .grid__item.header__middle {
  flex: 0 0 16.66667%;
  width: 16.66667%;
}

#header .top__header .header__middle {
  display: flex;
  align-items: center;
}

#header .top__header .header__middle a.header__logo {
  color: #473f3f;
  position: relative;
  font-family: Montserrat-Bold;
  font-size: 2.5rem;
}

#header .top__header .header__middle a.header__logo:after {
  content: "S";
  position: absolute;
  top: -29px;
  right: -22px;
  font-size: 5rem;
  color: #4f4141;
  opacity: .5;
}

#header .top__header .grid__item.header__right {
  flex: 0 0 41.66667%;
  width: 41.66667%;
}

#header .top__header .header__right .grid__item {
  flex: 0 0 50%;
  max-width: 50%;
}

#header .top__header .header__right .item-left {
  text-align: center;
}

#header .top__header .header__right .item-left .highlight__notifi {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .top__header .header__right .item-left .highlight__notifi ul.highlight__notifi-list li.notifi-discount {
  display: none;
}

#header .top__header .header__right .item-left .highlight__notifi ul.highlight__notifi-list li.notifi-discount.active {
  display: block;
}

#header .top__header .header__right .item-left .highlight__notifi ul.highlight__notifi-list li.notifi-discount a {
  letter-spacing: 1px;
  color: #f50404;
  font-family: Montserrat-Regular;
  font-size: 0.7rem;
}

#header .top__header .header__right .item-right .option__help {
  justify-content: flex-end;
  padding: 0 20px;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--user-content, #header .top__header .header__right .item-right .option__help .option__help-item .option--basket-content, #header .top__header .header__right .item-right .option__help .option__help-item .option--love-content, #header .top__header .header__right .item-right .option__help .option__help-item .option--care-content, #header .top__header .header__right .item-right .option__help .option__help-item .option--language-content {
  background-color: var(--white-color);
  top: 100%;
}

#header .top__header .header__right .item-right .option__help .option__help-item a.option--icon {
  padding: 29px 15px;
  color: #a4b0be;
  font-family: Montserrat-Regular;
  font-size: 0.8rem;
}

#header .top__header .header__right .item-right .option__help .option__help-item:hover .option--icon {
  background-color: var(--white-color);
}

#header .top__header .header__right .item-right .option__help .option__help-item:hover > .dropdown__option {
  display: block;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--user-content {
  right: inherit;
  width: 170px;
  padding: 5px;
  z-index: 100;
  display: none;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--user-content a.dropdown__option-item {
  font-size: .78rem;
  padding: 7px 10px;
  color: #535c68;
  letter-spacing: 1px;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--user-content a.dropdown__option-item:first-child {
  color: #000;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--user-content a.dropdown__option-item:hover {
  background-color: #f1f2f6;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--basket-content {
  right: 0;
  width: 400px;
  padding: 10px;
  z-index: 100;
  display: none;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--basket-content .dropdown--option-icon a.thumb-icon {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--basket-content .dropdown--option-icon .no-tf {
  font-size: 13px;
  padding: 7px 0;
  letter-spacing: 1px;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--basket-content .dropdown--option-content {
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #8b94a0;
  font-family: Montserrat-Regular;
  font-size: 0.8rem;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--love-content {
  right: 0;
  width: 400px;
  padding: 0;
  z-index: 100;
  display: none;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--love-content .dropdown__option-item form {
  padding: 10px 0;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--love-content .dropdown__option-item form select[name='country'] {
  background-color: #f9f9f9;
  width: 100%;
  padding: 5px;
  border: 1px solid #e1e1e1;
  letter-spacing: 1px;
  color: #443e3e;
  cursor: pointer;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--care-content {
  right: 0;
  width: 300px;
  padding: 30px 20px;
  z-index: 100;
  display: none;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--care-content a {
  color: #535c68;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: Montserrat-Regular;
  font-size: 0.8rem;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--language-content {
  right: 0;
  width: 270px;
  padding: 30px 20px;
  z-index: 100;
  display: none;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--language-content .dropdown__option-item form {
  padding: 10px 0;
}

#header .top__header .header__right .item-right .option__help .option__help-item .option--language-content .dropdown__option-item form select[name='country'] {
  background-color: #f9f9f9;
  width: 100%;
  padding: 5px;
  border: 1px solid #e1e1e1;
  letter-spacing: 1px;
  color: #443e3e;
  cursor: pointer;
}

#header .bottom__header {
  background-image: linear-gradient(#fff, #f7f8f4);
}

#header .bottom__header .navbar__menu {
  padding: 0 25px;
}

#header .bottom__header .section-menu .navbar__menu-item a.navbar__menu-link {
  color: #2f3542;
  padding: 24px 10px;
  font-family: Montserrat-Regular;
  font-weight: 700;
  font-size: 0.8rem;
}

#header .bottom__header .section-menu .navbar__menu-item a.navbar__menu-link .highlight {
  color: var(--highlight-color);
}

#header .bottom__header .section-menu .navbar__menu-item a.navbar__menu-link > .icon-highlight {
  position: relative;
  background-color: #f00;
  padding: 0 2px;
  top: 0;
  left: 10px;
  z-index: 2;
  opacity: .6;
  color: var(--white-color);
}

#header .bottom__header .section-menu .navbar__menu-item a.navbar__menu-link > .icon-highlight:after {
  font-family: "FontAwesome";
  position: absolute;
  content: "\f0dd";
  color: #f80000;
  top: 6px;
  left: 9px;
  z-index: 1;
}

#header .bottom__header .section-menu .navbar__menu-item:hover > .navbar__menu-dropdown {
  display: block;
}

#header .bottom__header .section-menu .navbar__menu-item:hover > a.navbar__menu-link {
  border-bottom: 2px solid #444142;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown {
  left: 0;
  top: 100%;
  z-index: 100;
  background-color: var(--white-color);
  padding: 20px 0;
  border-top: 1px solid #e1e1e1;
  display: none;
  overflow: hidden;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-4 ul.list__info li a.info__item {
  margin: 5px 0;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-6 .grid__item.item-1, #header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-9 .grid__item.item-1 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-6 .grid__item.item-2, #header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-9 .grid__item.item-2 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-6 .grid__item.item-3, #header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-9 .grid__item.item-3 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-8 ul.list__info li a.info__item {
  padding: 7px 5px !important;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-10 .grid__item.item-1 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-10 .option__info {
  flex: 0 0 60% !important;
  max-width: 60% !important;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-10 .grid__item.item-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-10 .option__info {
  flex: 0 0 60% !important;
  max-width: 60% !important;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-10 .grid__item.item-3 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-10 .option__info {
  flex: 0 0 60% !important;
  max-width: 60% !important;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-11 .grid__item.item-1 {
  flex: 0 0 25%;
  max-width: 25%;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-11 .grid__item.item-2 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-11 .grid__item.item-3 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-11 .option__info {
  flex: 0 0 60% !important;
  max-width: 60% !important;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown.dropdown--menu-11 .dropdown__info-images .info-left {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .grid__item {
  flex: 0 0 50%;
  max-width: 50%;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .grid__item .dropdown__info-item {
  padding: 5px !important;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-content .dropdown__info-item {
  padding: 16px;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-content .dropdown__info-item ul.list__info li a.info__item {
  font-weight: bold;
  padding: 7px 10px;
  color: #596275;
  font-size: .75rem;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-content .dropdown__info-item ul.list__info li a.info__item.info--item-title {
  color: #000;
  text-transform: uppercase;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-content .dropdown__info-item ul.list__info li a.info__item:hover {
  background-color: #f1f2f6;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-content .dropdown__info-item ul.list__info li a.info__item > .highlight::after {
  content: "HOT";
  color: #f00;
  padding-left: 5px;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-content .dropdown__info-item ul.list__info li a.info--item-highlight {
  color: #f00 !important;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-content .dropdown__info-item ul.list__info li a.info--item-sub-highlight {
  color: #000;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-images a.dropdown__info-item {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-images a.dropdown__info-item span.thumb-img-rectangle {
  width: 207px;
  height: 271px;
  overflow: hidden;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-images a.dropdown__info-item span.thumb-img-circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-images a.dropdown__info-item span.name {
  color: #747d8c;
  padding-top: 10px;
  font-size: .8rem;
  font-weight: bold;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-images .option__info {
  flex: 0 0 40%;
  max-width: 40%;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-images .option__info h4.title-info {
  color: #000;
  text-decoration: underline;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: .8rem;
}

#header .bottom__header .section-menu .navbar__menu-item .navbar__menu-dropdown .dropdown__info-images .option__info ul.list-info li {
  flex: 0 0 45%;
  max-width: 45%;
  margin-bottom: 20px;
}

#header .bottom__header .section-search {
  padding-right: 10px;
}

#header .bottom__header .section-search form input.form-txt[name='q'] {
  padding: 4px 15px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  letter-spacing: 1px;
  font-family: "Montserrat-Regular";
}

#header .bottom__header .section-search form button.btn-s {
  border: none;
  font-weight: bold;
  font-family: "";
  font-family: "Montserrat-Regular";
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #dadada;
  color: #636363;
  cursor: pointer;
}

.action__site {
  bottom: 3%;
  right: 7px;
  z-index: 1000;
  display: none;
}

.action__site.active {
  display: block !important;
}

.action__site .action__site-item {
  background-color: #2b2b2b;
  padding: 5px 8px;
  margin: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.action__site .action__site-item.app--action:hover > .box__action-app {
  display: block;
}

.action__site .action__site-item.app--action .box__action-app {
  width: 300px;
  top: -240px;
  left: -295px;
  display: none;
}

.action__site .action__site-item.app--action .box__action-app .box__action-bg {
  background-color: var(--white-color);
  width: 95%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.action__site .action__site-item.app--action .box__action-app .box__header {
  background-color: #212020;
  padding: 7px 0;
  text-align: center;
  letter-spacing: 1px;
  color: var(--white-color);
  font-family: "Montserrat-Bold";
  font-size: 1.2rem;
}

.action__site .action__site-item.app--action .box__action-app .box__content .box__info-text {
  color: var(--black-color);
  text-transform: uppercase;
  text-align: center;
}

.action__site .action__site-item.app--action .box__action-app .box__content .box__info-text .to__enjoy {
  padding: 10px 0;
  font-size: .9rem;
  font-weight: bold;
}

.action__site .action__site-item.app--action .box__action-app .box__content .box__info-text .er__percent {
  padding-bottom: 10px;
}

.action__site .action__site-item.app--action .box__action-app .box__content .box__info-text .er__percent .percent__first {
  color: #d20707;
  padding-right: 15px;
  font-family: "Montserrat-Bold";
  font-weight: bold;
  font-size: 2rem;
}

.action__site .action__site-item.app--action .box__action-app .box__content .box__info-text .er__percent .condition__ {
  font-weight: bold;
  font-size: .8rem;
}

.action__site .action__site-item.app--action .box__action-app .box__content .box__info-text .code__app .code__coupon {
  display: inline-block;
  border: 1px dashed #333;
  padding: 5px 7px;
  font-weight: bold;
  font-size: .9rem;
}

.action__site .action__site-item.app--action .box__action-app .box__content .download__app {
  padding: 25px;
}

.action__site .action__site-item.app--action .box__action-app .box__content .download__app .qr__code {
  flex: 0 0 50%;
  max-width: 50%;
  border-right: 1px dashed #333;
}

.action__site .action__site-item.app--action .box__action-app .box__content .download__app .qr__code .thumb-img {
  display: block;
  width: 106px;
  height: 106px;
  overflow: hidden;
}

.action__site .action__site-item.app--action .box__action-app .box__content .download__app .link-list {
  flex: 0 0 50%;
  max-width: 50%;
  margin-left: 18px;
}

.action__site .action__site-item.app--action .box__action-app .box__content .download__app .link-list a {
  margin: 20px 0;
  color: #333;
  display: flex;
  align-items: center;
}

.action__site .action__site-item.app--action .box__action-app .box__content .download__app .link-list a i {
  margin-right: 5px;
  font-size: 1.9rem;
}

.action__site .action__site-item.app--action .box__action-app .box__content .download__app .link-list a span {
  font-size: .9rem;
  font-weight: 300;
}

.action__site .action__site-item.app--action::after {
  content: "\f044";
  color: var(--white-color);
  font-family: "FontAwesome";
  font-size: 1.5rem;
}

.action__site .action__site-item.backTop--action::after {
  content: "\f106";
  color: var(--white-color);
  font-family: "FontAwesome";
  font-size: 1.5rem;
}

.quick__register {
  top: 30%;
  right: -615px;
  transition: right .25s;
  z-index: 9999;
  transform: translate(0px, 0px);
}

.quick__register.open {
  right: 0;
  transition: right .25s;
}

.quick__register .quickg__outside {
  background-color: var(--black-color);
  color: var(--white-color);
  text-transform: uppercase;
  width: 35px;
  height: 320px;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.3rem;
}

.quick__register .quickg__outside span {
  padding-top: 10px;
}

.quick__register .quickg__outside .outside__txt {
  top: 50%;
  left: 50%;
  width: 320px;
  transform: translate(-160px, -44px) rotate(-90deg);
  letter-spacing: 6px;
  cursor: pointer;
}

.quick__register .quickg__inside {
  height: 320px;
  width: 615px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(../../../public/images/content/notification_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.quick__register .quickg__inside .inside__form {
  width: 100%;
}

.quick__register .quickg__inside .inside__form form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.quick__register .quickg__inside .inside__form form input.input__regis {
  flex: 0 0 70%;
  width: 70%;
  background: none;
  border: 1px solid #8a8484;
  padding: 7px 20px;
  -webkit-text-fill-color: var(--black-color);
  letter-spacing: 1px;
  margin-right: 5px;
}

.quick__register .quickg__inside .inside__form form input.input__regis::-webkit-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
  font-family: "Montserrat-Italic";
  font-size: .8rem;
}

.quick__register .quickg__inside .inside__form form button.btn__register {
  flex: 0 0 25%;
  width: 25%;
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
  color: var(--white-color);
  text-transform: uppercase;
  padding: 9px 15px;
  margin-left: 5px;
  letter-spacing: 1.2px;
  cursor: pointer;
  font-weight: bold;
  font-size: .7rem;
}

#footer {
  padding: 100px 100px 10px 100px;
}

#footer .footer__title-item {
  color: #000;
  letter-spacing: .8px;
  margin-bottom: 9px;
  font-size: .8rem;
}

#footer .footer--top .grid__item {
  flex: 0 0 50%;
  max-width: 50%;
}

#footer .footer--top .footer--top-left {
  padding-right: 60px;
}

#footer .footer--top .footer--top-left .list__menu li a.menu__item {
  color: #757575;
  letter-spacing: .7px;
  padding: 5px 0;
  font-weight: 300;
  font-size: .7rem;
}

#footer .footer--top .footer--top-left .list__menu li a.menu__item:hover {
  color: #333;
}

#footer .footer--top .footer--top-right .social .connect__social .list__connect-social li a.social__item, #footer .footer--top .footer--top-right .social .app__social .list__app-social li a.app__item {
  color: var(--black-color);
  padding: 10px 15px;
  font-size: 1.5rem;
  font-weight: bold;
}

#footer .footer--top .footer--top-right .social {
  margin-bottom: 10px;
}

#footer .footer--top .footer--top-right .social .app__social .list__app-social li a.app__item {
  padding: 10px;
}

#footer .footer--top .footer--top-right .register {
  margin-bottom: 30px;
}

#footer .footer--top .footer--top-right .register form.form-s {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .footer--top .footer--top-right .register form.form-s input[name='q'] {
  flex: 0 0 80%;
  width: 80%;
  padding: 7px 20px;
  letter-spacing: 1px;
  color: #797979;
  line-height: 1.4;
  border: 1px solid #d2d2d2;
}

#footer .footer--top .footer--top-right .register form.form-s button[name='btn_register'] {
  flex: 0 0 20%;
  width: 20%;
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
  padding: 9.5px 20px;
  letter-spacing: 1px;
}

#footer .footer--top .footer--top-right .valid__bank {
  margin-bottom: 20px;
}

#footer .footer--top .footer--top-right .valid__bank .lisk__bank li {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .footer--top .footer--top-right .valid__bank .lisk__bank li .thumb-img {
  width: 36px;
  height: 24px;
  overflow: hidden;
  margin: 5px;
}

#footer .footer--bottom .grid__item {
  flex: 0 0 50%;
  max-width: 50%;
}

#footer .footer--bottom .footer--bottom-left .policy .footer__title-item {
  font-size: .7rem;
}

#footer .footer--bottom .footer--bottom-left .policy .list__policy li a.policy__item {
  padding: 3px 10px;
  border-right: 1px solid #e1e1e1;
  color: #9c9c9c;
  text-decoration: underline;
  font-weight: 300;
  font-size: .7rem;
}

#footer .footer--bottom .footer--bottom-left .policy .list__policy li:last-child a {
  border: none;
}

#footer .footer--bottom .footer--bottom-right .logo__footer a {
  color: rgba(225, 13, 160, 0.3);
  position: relative;
  font-family: "Montserrat-Bold";
  font-size: 4.375rem;
}

#footer .footer--bottom .footer--bottom-right .logo__footer a::after {
  content: "S";
  font-size: 7.875rem;
  position: absolute;
  left: 197px;
  top: -40px;
  opacity: .5;
}

#modal__detail--product {
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: none;
}

#modal__detail--product .modal__dialog {
  width: 100%;
  height: 100%;
}

#modal__detail--product .modal__close {
  right: 0;
  top: 0;
}

#modal__detail--product .modal__content {
  top: -20%;
  left: 18%;
  width: 1000px;
  height: 680px;
  overflow: hidden;
  padding: 45px;
  transform: translate(0px, 0px);
  background-color: var(--white-color);
  transition: all .5s;
}

#modal__detail--product .modal__content.show {
  top: 3%;
  transition: all .5s;
}

#modal__detail--product .modal__content .modal__close {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 100%;
  background-color: #dadada;
  box-shadow: 0 0 5px;
  position: absolute;
  top: 5px;
  right: 6px;
  color: #7d7d7d;
  cursor: pointer;
  font-size: 1.3rem;
}

#modal__detail--product .modal__content .grid__item.item-1 {
  flex: 0 0 10%;
  max-width: 10%;
}

#modal__detail--product .modal__content .grid__item.item-2 {
  flex: 0 0 47%;
  max-width: 47%;
  padding: 0 !important;
}

#modal__detail--product .modal__content .grid__item.item-3 {
  flex: 0 0 43%;
  max-width: 43%;
}

#modal__detail--product .modal__content .relative__img {
  padding-left: 10px;
  height: 570px;
  overflow: auto;
}

#modal__detail--product .modal__content .relative__img::-webkit-scrollbar {
  width: 5px;
}

#modal__detail--product .modal__content .relative__img::-webkit-scrollbar-thumb {
  background-color: #e4e2e2;
}

#modal__detail--product .modal__content .relative__img .list__relative-img li {
  margin: 10px 0;
  cursor: pointer;
}

#modal__detail--product .modal__content .relative__img .list__relative-img li:first-child {
  margin-top: 0;
}

#modal__detail--product .modal__content .relative__img .list__relative-img li span.thumb-img {
  height: 65px;
  display: block;
}

#modal__detail--product .modal__content .relative__img .list__relative-img li span.thumb-img img {
  height: 100%;
}

#modal__detail--product .modal__content .avatar__img {
  height: 100%;
}

#modal__detail--product .modal__content .avatar__img .main__avatar .thumb-img {
  display: block;
  height: 100%;
}

#modal__detail--product .modal__content .avatar__img .main__avatar .thumb-img img {
  width: 100%;
  height: 100%;
}

#modal__detail--product .modal__content .avatar__img .control__avatar .control__item {
  top: 40%;
  cursor: pointer;
  color: #fff;
  font-size: 5rem;
  transition: 1;
  opacity: 0;
  transition: all .5s;
}

#modal__detail--product .modal__content .avatar__img .control__avatar .control__item.control--next {
  right: 10%;
}

#modal__detail--product .modal__content .avatar__img .control__avatar .control__item.control--prev {
  left: 10%;
}

#modal__detail--product .modal__content .avatar__img:hover .control__item {
  opacity: 1;
  transition: all .5s;
}

#modal__detail--product .modal__content .avatar__img:hover .control__item.control--prev {
  left: 3%;
}

#modal__detail--product .modal__content .avatar__img:hover .control__item.control--next {
  right: 3%;
}

#modal__detail--product .modal__content .info__img {
  padding-left: 30px;
}

#modal__detail--product .modal__content .info__img .info__color .title, #modal__detail--product .modal__content .info__img .info__size .title, #modal__detail--product .modal__content .info__img .info__qty .select__qty .titel {
  color: var(--black-color);
  font-weight: bold;
  font-size: .7rem;
}

#modal__detail--product .modal__content .info__img .info__basic {
  margin-bottom: 20px;
}

#modal__detail--product .modal__content .info__img .info__basic .name__product {
  margin-bottom: 10px;
  font-weight: 700;
  color: #333;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: .7px;
}

#modal__detail--product .modal__content .info__img .info__basic .summary {
  margin-bottom: 15px;
}

#modal__detail--product .modal__content .info__img .info__basic .in__tock {
  color: var(--black-color);
  margin-right: 15px;
  font-weight: 400;
  font-size: .65rem;
}

#modal__detail--product .modal__content .info__img .info__basic .__code {
  color: #909090;
  letter-spacing: .7px;
  margin-bottom: 15px;
  font-size: .65rem;
}

#modal__detail--product .modal__content .info__img .info__basic .price {
  font-family: "Montserrat-Bold";
  font-weight: bold;
  font-size: 1.9rem;
}

#modal__detail--product .modal__content .info__img .info__color .list__color {
  margin-bottom: 15px;
}

#modal__detail--product .modal__content .info__img .info__color .list__color li span.thumb-img {
  display: block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  margin: 5px;
  cursor: pointer;
}

#modal__detail--product .modal__content .info__img .info__color .list__color li span.thumb-img img {
  width: 100%;
  height: 100%;
}

#modal__detail--product .modal__content .info__img .info__color .list__color li span.thumb-img.active {
  box-shadow: 0 0 3px black;
}

#modal__detail--product .modal__content .info__img .info__color .list__color li span.thumb-img:hover {
  border: 1px solid #6e6e6e;
}

#modal__detail--product .modal__content .info__img .info__size {
  margin-bottom: 10px;
}

#modal__detail--product .modal__content .info__img .info__size li:first-child .name__size {
  margin-left: 0;
}

#modal__detail--product .modal__content .info__img .info__size .name__size {
  display: block;
  margin: 7px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #333;
  border-radius: 100%;
  font-size: .8rem;
}

#modal__detail--product .modal__content .info__img .info__size .name__size.active {
  border: 1px solid #333;
}

#modal__detail--product .modal__content .info__img .info__size .name__size:hover {
  border: 1px solid #a5a4a4;
  cursor: pointer;
}

#modal__detail--product .modal__content .info__img .info__size .info__size {
  height: 70px;
  background-color: #f5f5f5;
  padding: 5px;
  overflow: hidden;
}

#modal__detail--product .modal__content .info__img .info__size .info__size span {
  color: var(--black-color);
  font-size: .7rem;
}

#modal__detail--product .modal__content .info__img .info__qty {
  margin-bottom: 15px;
}

#modal__detail--product .modal__content .info__img .info__qty .select__qty {
  margin-bottom: 20px;
}

#modal__detail--product .modal__content .info__img .info__qty .select__qty .c__opt-qty {
  margin-left: 20px;
}

#modal__detail--product .modal__content .info__img .info__qty .select__qty .c__opt-qty span.opt__qty-span {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 31px;
  font-size: .7rem;
  font-weight: 300;
  border: 1px solid #fff;
  cursor: pointer;
  margin: 0 3px;
  color: #ababab;
}

#modal__detail--product .modal__content .info__img .info__qty .select__qty .c__opt-qty span.opt__qty-span:hover {
  border: 1px solid #ccc;
}

#modal__detail--product .modal__content .info__img .info__qty .select__qty .c__opt-qty .opt__qty-input {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #fff;
}

#modal__detail--product .modal__content .info__img .info__qty .select__qty .c__opt-qty .opt__qty-input:focus {
  border: 1.3px solid #b8b8b8;
  transition: border .25s;
  border-radius: 3px;
  font-size: .8rem;
}

#modal__detail--product .modal__content .info__img .info__qty .total_price {
  letter-spacing: 1px;
  color: #1f1e1e;
  font-size: .65rem;
  font-weight: 300;
}

#modal__detail--product .modal__content .info__img .info__qty .total_price span.info__price {
  color: #d53333;
}

#modal__detail--product .modal__content .info__img .btn__control .control__item {
  margin-bottom: 10px;
}

#modal__detail--product .modal__content .info__img .btn__control .control__item button[name='add__to__cart'] {
  width: 100%;
  border: none;
  background-color: #121212;
  color: #dadada;
  padding: 12px 0;
  font-weight: bold;
  font-size: 1.1rem;
}

#modal__detail--product .modal__content .info__img .btn__control .control__item button[name='add__to__cart']:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  cursor: pointer;
}

#modal__detail--product .modal__content .info__img .btn__control .control__item a {
  border: 1px solid #333;
  padding: 8px 0;
  text-align: center;
  color: var(--black-color);
  font-weight: bold;
}

#modal__detail--product .modal__content .info__img .btn__control .control__item a.love__it {
  flex: 0 0 13%;
  max-width: 13%;
}

#modal__detail--product .modal__content .info__img .btn__control .control__item a.see__info__total {
  flex: 0 0 85%;
  max-width: 85%;
}
